In [4]:
import requests
import pandas as pd
import pickle
import os

# Query all the County

In [2]:
county = []
offset, total = 0, 2000
while offset < total:
    token = 'GdNVaWoznDYioKmVaVCoCmolmXNvQqoI'
    url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/locations"
    url += '?limit=1000&offset={}'.format(offset)
    response = requests.get(url, headers={'token':token})

    query = eval(response.content.decode('utf-8'))
    total = query['metadata']['resultset']['count']
    for q in query['results']:
        if 'US' in q['name']:
            county.append(q)
    offset += 1000
    print(offset, total)
county = pd.DataFrame(county)

1000 38859
2000 38859
3000 38859
4000 38859
5000 38859
6000 38859
7000 38859
8000 38859
9000 38859
10000 38859
11000 38859
12000 38859
13000 38859
14000 38859
15000 38859
16000 38859
17000 38859
18000 38859
19000 38859
20000 38859
21000 38859
22000 38859
23000 38859
24000 38859
25000 38859
26000 38859
27000 38859
28000 38859
29000 38859
30000 38859
31000 38859
32000 38859
33000 38859
34000 38859
35000 38859
36000 38859
37000 38859
38000 38859
39000 38859

In [3]:
county

,datacoverage,id,maxdate,mindate,name
0,1,CITY:US000001,2018-11-24,1872-01-01,"Washington D.C., US"
1,1,CITY:US010001,2018-11-24,1895-11-01,"Alexander City, AL US"
2,1,CITY:US010002,2018-11-24,1903-02-01,"Anniston, AL US"
3,1,CITY:US010003,2018-11-24,1906-04-01,"Auburn, AL US"
4,1,CITY:US010004,2018-11-24,1900-10-01,"Birmingham, AL US"
5,1,CITY:US010005,2018-11-24,1907-08-01,"Cullman, AL US"
6,1,CITY:US010006,2018-11-24,1931-01-01,"Dothan, AL US"
7,1,CITY:US010007,2018-11-24,1902-05-01,"Enterprise, AL US"
8,1,CITY:US010008,2018-11-24,1892-06-01,"Eufaula, AL US"
9,1,CITY:US010009,2018-11-24,1893-01-01,"Florence, AL US"
10,1,CITY:US010010,2018-11-24,1893-01-01,"Fort Payne, AL US"
11,1,CITY:US010011,2018-11-24,1893-07-01,"Gadsden, AL US"
12,1,CITY:US010012,2018-11-24,1894-02-01,"Huntsville, AL US"
13,1,CITY:US010013,2018-11-24,1891-10-01,"Jasper, AL US"
14,1,CITY:US010014,2018-11-24,1931-01-01,"Mobile, AL US"
15,1,CITY:US010015,2018-11-24,1893-01-01,"Montgomery, AL US"
16,1,CITY:US010016,2018-11-24,1895-01-01,"Selma, AL US"
17,1,CITY:US010017,2018-11-24,1888-02-01,"Talladega, AL US"
18,1,CITY:US010018,2018-11-24,1908-06-01,"Troy, AL US"
19,1,CITY:US010019,2018-11-24,1900-01-01,"Tuscaloosa, AL US"
20,1,CITY:US020001,2018-11-24,1916-02-01,"Anchorage, AK US"
21,1,CITY:US020002,2018-11-24,1904-09-01,"Fairbanks, AK US"
22,1,CITY:US020003,2018-11-24,1915-11-01,"Juneau, AK US"
23,1,CITY:US020004,2018-11-24,1908-01-01,"Nome, AK US"
24,1,CITY:US020005,2018-11-24,1922-01-01,"Seward, AK US"
25,1,CITY:US040001,2018-11-24,1948-03-01,"Bullhead City, AZ US"
26,1,CITY:US040002,2018-11-24,1898-06-01,"Casa Grande, AZ US"
27,1,CITY:US040003,2018-11-24,1903-12-01,"Douglas, AZ US"
28,1,CITY:US040004,2018-11-24,1893-01-01,"Flagstaff, AZ US"
29,1,CITY:US040005,2018-11-24,1916-06-01,"Green Valley, AZ US"
...,...,...,...,...,...
815,1,CITY:US540001,2018-11-24,1893-12-01,"Beckley, WV US"
816,1,CITY:US540002,2018-11-24,1893-01-01,"Bluefield, WV US"
817,1,CITY:US540003,2018-11-24,1892-04-01,"Charleston, WV US"
818,1,CITY:US540004,2018-11-24,1873-01-01,"Fairmont, WV US"
819,1,CITY:US540005,2018-11-24,1887-07-01,"Huntington, WV US"
820,1,CITY:US540006,2018-11-24,1893-01-01,"Martinsburg, WV US"
821,1,CITY:US540007,2018-11-24,1873-01-01,"Morgantown, WV US"
822,1,CITY:US540008,2018-11-24,1894-01-01,"Parkersburg, WV US"
823,1,CITY:US540009,2018-11-24,1878-02-01,"Wheeling, WV US"
824,1,CITY:US550001,2018-11-24,1889-01-01,"Eau Claire, WI US"
825,1,CITY:US550002,2018-11-24,1886-09-01,"Green Bay, WI US"
826,1,CITY:US550003,2018-11-24,1893-01-01,"Janesville, WI US"
827,1,CITY:US550004,2018-11-24,1896-05-01,"Kenosha, WI US"
828,1,CITY:US550005,2018-11-24,1883-01-01,"La Crosse, WI US"
829,1,CITY:US550006,2018-11-24,1910-11-01,"Madison, WI US"
830,1,CITY:US550007,2018-11-24,1893-01-01,"Manitowoc, WI US"
831,1,CITY:US550008,2018-11-24,1899-05-01,"Marinette, WI US"
832,1,CITY:US550009,2018-11-24,1871-01-01,"Milwaukee, WI US"
833,1,CITY:US550010,2018-11-24,1893-01-01,"Oshkosh, WI US"
834,1,CITY:US550011,2018-11-24,1893-01-01,"Racine, WI US"
835,1,CITY:US550012,2018-11-24,1893-01-01,"River Falls, WI US"
836,1,CITY:US550013,2018-11-24,1899-09-01,"Sheboygan, WI US"
837,1,CITY:US550014,2018-11-24,1895-04-01,"Wausau, WI US"
838,1,CITY:US560001,2018-11-24,1900-11-01,"Casper, WY US"
839,1,CITY:US560002,2018-11-24,1905-05-01,"Cheyenne, WY US"
840,1,CITY:US560003,2018-11-24,1890-12-01,"Evanston, WY US"
841,1,CITY:US560004,2018-11-24,1902-03-01,"Gillette, WY US"
842,1,CITY:US560005,2018-11-24,1892-01-01,"Laramie, WY US"
843,1,CITY:US560006,2018-11-24,1897-04-01,"Rock Springs, WY US"
844,1,CITY:US560007,2018-11-24,1893-02-01,"Sheridan, WY US"

# Query all the stations

In [41]:
stations = []
offset, total = 0, 2000
while offset < total:
    token = 'GdNVaWoznDYioKmVaVCoCmolmXNvQqoI'
    url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/stations"
    url += '?limit=1000&offset={}'.format(offset)
    response = requests.get(url, headers={'token':token})

    query = eval(response.content.decode('utf-8'))
    total = query['metadata']['resultset']['count']
    stations += query['results']
    offset += 1000
    print(offset, total)
stations = pd.DataFrame(stations)

1000 132132
2000 132132
3000 132132
4000 132132
5000 132132
6000 132132
7000 132132
8000 132132
9000 132132
10000 132132
11000 132132
12000 132132
13000 132132
14000 132132
15000 132132
16000 132132
17000 132132
18000 132132
19000 132132
20000 132132
21000 132132
22000 132132
23000 132132
24000 132132
25000 132132
26000 132132
27000 132132
28000 132132
29000 132132
30000 132132
31000 132132
32000 132132
33000 132132
34000 132132
35000 132132
36000 132132
37000 132132
38000 132132
39000 132132
40000 132132
41000 132132
42000 132132
43000 132132
44000 132132
45000 132132
46000 132132
47000 132132
48000 132132
49000 132132
50000 132132
51000 132132
52000 132132
53000 132132
54000 132132
55000 132132
56000 132132
57000 132132
58000 132132
59000 132132
60000 132132
61000 132132
62000 132132
63000 132132
64000 132132
65000 132132
66000 132132
67000 132132
68000 132132
69000 132132
70000 132132
71000 132132
72000 132132
73000 132132
74000 132132
75000 132132
76000 132132
77000 132132
78000 132132
79000 132132
80000 132132
81000 132132
82000 132132
83000 132132
84000 132132
85000 132132
86000 132132
87000 132132
88000 132132
89000 132132
90000 132132
91000 132132
92000 132132
93000 132132
94000 132132
95000 132132
96000 132132
97000 132132
98000 132132
99000 132132
100000 132132
101000 132132
102000 132132
103000 132132
104000 132132
105000 132132
106000 132132
107000 132132
108000 132132
109000 132132
110000 132132
111000 132132
112000 132132
113000 132132
114000 132132
115000 132132
116000 132132
117000 132132
118000 132132
119000 132132
120000 132132
121000 132132
122000 132132
123000 132132
124000 132132
125000 132132
126000 132132
127000 132132
128000 132132
129000 132132
130000 132132
131000 132132
132000 132132
133000 132132

In [48]:
stations

,datacoverage,elevation,elevationUnit,id,latitude,longitude,maxdate,mindate,name
0,0.8813,139.0,METERS,COOP:010008,31.57020,-85.24820,2014-01-01,1948-01-01,"ABBEVILLE, AL US"
1,0.5059,249.3,METERS,COOP:010063,34.25530,-87.18140,2015-11-01,1938-01-01,"ADDISON, AL US"
2,0.9658,302.1,METERS,COOP:010071,34.41667,-87.31667,1962-03-01,1940-05-01,"ADDISON CENTRAL TOWER, AL US"
3,0.8064,172.2,METERS,COOP:010116,33.17833,-86.78167,2015-11-01,1995-04-01,"ALABASTER SHELBY CO AIRPORT, AL US"
4,1.0000,183.8,METERS,COOP:010117,34.68910,-86.88190,1949-12-01,1949-01-01,"BELLE MINA, AL US"
5,0.2624,34.1,METERS,COOP:010125,31.13333,-85.06667,1936-11-01,1935-05-01,"ALAGA, AL US"
6,0.9888,53.3,METERS,COOP:010140,32.23220,-87.41040,2014-12-01,1940-11-01,"ALBERTA, AL US"
7,0.9535,348.1,METERS,COOP:010148,34.23333,-86.16667,1977-06-01,1931-01-01,"ALBERTVILLE, AL US"
8,0.9946,195.1,METERS,COOP:010160,32.94520,-85.94800,2015-11-01,1969-10-01,"ALEXANDER CITY, AL US"
9,0.9629,200.9,METERS,COOP:010163,32.98333,-85.86667,1969-10-01,1942-11-01,"ALEXANDER CITY 6 NE, AL US"
10,0.9144,59.4,METERS,COOP:010178,33.12720,-88.15500,2015-11-01,1940-01-01,"ALICEVILLE, AL US"
11,0.9883,50.3,METERS,COOP:010184,33.21000,-88.28780,2015-11-01,1980-05-01,"ALICEVILLE L AND D, AL US"
12,0.9744,76.2,METERS,COOP:010252,31.30710,-86.52260,2015-11-01,1938-01-01,"ANDALUSIA 3 W, AL US"
13,1.0000,231.6,METERS,COOP:010260,34.96285,-87.37195,2015-11-01,2004-07-01,"ANDERSON, AL US"
14,1.0000,220.1,METERS,COOP:010267,33.66667,-85.83333,1949-03-01,1948-01-01,"ANNISTON, AL US"
15,0.9816,181.1,METERS,COOP:010272,33.58720,-85.85560,2015-11-01,1948-01-01,"ANNISTON METROPOLITAN AIRPORT, AL US"
16,0.9691,227.1,METERS,COOP:010338,34.06667,-87.23333,1983-10-01,1938-01-01,"ARLEY 1 S, AL US"
17,0.8872,311.5,METERS,COOP:010369,33.29410,-85.77880,2013-11-01,1948-01-01,"ASHLAND, AL US"
18,0.9429,180.1,METERS,COOP:010377,33.85000,-86.33333,1973-06-01,1941-06-01,"ASHVILLE, AL US"
19,0.5632,210.0,METERS,COOP:010390,34.77520,-86.95080,2015-11-01,1948-01-01,"ATHENS, AL US"
20,0.9442,219.5,METERS,COOP:010395,34.80000,-86.98333,1991-07-01,1955-10-01,"ATHENS 2, AL US"
21,0.9980,220.1,METERS,COOP:010398,34.80000,-86.96667,1958-06-01,1958-05-01,"ATHENS COURTHOUSE, AL US"
22,0.7103,91.4,METERS,COOP:010402,31.18200,-87.43900,2015-11-01,1940-01-01,"ATMORE, AL US"
23,0.9670,67.1,METERS,COOP:010407,31.01667,-87.51667,1982-10-01,1965-01-01,"ATMORE, AL US"
24,0.9917,223.1,METERS,COOP:010422,32.60000,-85.50000,1970-12-01,1931-01-01,"AUBURN, AL US"
25,0.9828,166.1,METERS,COOP:010425,32.59920,-85.46530,2015-11-01,1996-08-01,"AUBURN NUMBER 2, AL US"
26,1.0000,198.7,METERS,COOP:010427,32.60000,-85.50000,1962-09-01,1948-01-01,"AUBURN AGRONOMY FARM, AL US"
27,0.9673,198.7,METERS,COOP:010430,32.60000,-85.50000,1996-07-01,1976-01-01,"AUBURN AGRONOMY FARM, AL US"
28,0.9658,61.0,METERS,COOP:010440,32.47056,-86.68000,2001-09-01,1940-11-01,"AUTAUGAVILLE 3 N, AL US"
29,1.0000,85.3,METERS,COOP:010505,33.45270,-87.35720,2015-11-01,1957-01-01,"BANKHEAD LOCK AND DAM, AL US"
...,...,...,...,...,...,...,...,...,...
132103,1.0000,401.4,METERS,WBAN:94971,43.40111,-94.74722,2018-11-23,2005-01-01,"ESTHERVILLE MUNICIPAL AIRPORT, IA US"
132104,1.0000,367.0,METERS,WBAN:94973,46.02611,-91.44417,2018-11-23,2005-01-01,"HAYWARD MUNICIPAL AIRPORT, WI US"
132105,1.0000,278.0,METERS,WBAN:94974,45.15000,-93.21667,2018-11-23,2005-01-01,"MINNEAPOLIS ANOKA CO AIRPORT, MN US"
132106,1.0000,787.6,METERS,WBAN:94975,42.57694,-100.00056,2018-11-23,2005-01-01,"AINSWORTH MUNICIPAL AIRPORT, NE US"
132107,1.0000,360.9,METERS,WBAN:94976,44.45000,-95.81667,2018-11-23,2005-01-01,"MARSHALL RYAN FIELD, MN US"
132108,1.0000,341.1,METERS,WBAN:94977,48.26667,-92.48333,2018-11-23,2005-01-01,"CRANE LAKE, MN US"
132109,1.0000,313.3,METERS,WBAN:94978,41.76361,-96.17778,2018-11-23,2005-01-01,"TEKAMAH MUNICIPAL AIRPORT, NE US"
132110,1.0000,213.4,METERS,WBAN:94979,41.83333,-90.33333,2018-11-23,2005-01-01,"CLINTON MUNICIPAL AIRPORT, IA US"
132111,1.0000,228.6,METERS,WBAN:94982,41.61389,-90.59139,2018-11-23,2005-01-01,"DAVENPORT MUNICIPAL AIRPORT, IA US"
132112,1.0000,382.5,METERS,WBAN:94985,44.63806,-90.18750,2018-11-23,2005-01-01,"MARSHFIELD MUNICIPAL AIRPORT, WI US"
132113,1.0000,296.9,METERS,WBAN:94988,42.11056,-92.91611,2018-11-23,2005-01-01,"MARSHALLTOWN MUNICIPAL AIRPORT, IA US"
132114,1.0000,291.1,METERS,WBAN:94989,41.99056,-93.61889,2018-11-23,2005-01-01,"AMES MUNICIPAL AIRPORT, IA US"
132115,1.0000,619.4,METERS,WBAN:94990,43.39056,-99.84222,2018-11-23,2006-01-01,"WINNER WILEY FIELD, SD US"
132116,1.0000,345.9,METERS,WBAN:94991,40.63060,-93.90080,2018-11-23,2005-01-01,"LAMONI MUNICIPAL AIRPORT, IA US"
132117,1.0000,185.9,METERS,WBAN:94992,47.74722,-90.34444,2018-11-23,2005-01-01,"GRAND MARAIS, MN US"
132118,1.0000,353.9,METERS,WBAN:94993,45.66889,-96.99139,2018-11-23,2005-01-01,"SISSETON MUNICIPAL AIRPORT, SD US"
132119,1.0000,204.8,METERS,WBAN:94994,43.15611,-90.67750,2018-11-23,2005-01-01,"BOSCOBEL AIRPORT, WI US"
132120,1.0000,362.4,METERS,WBAN:94995,40.84840,-96.56510,2018-11-22,2002-01-15,"LINCOLN 8 ENE, NE US"
132121,1.0000,418.2,METERS,WBAN:94996,40.69540,-96.85410,2018-11-22,2002-01-14,"LINCOLN 11 SW, NE US"
132122,1.0000,417.6,METERS,WBAN:94997,46.44667,-95.21167,2018-11-23,2005-01-01,"WADENA MUNICIPAL AIRPORT, MN US"
132123,1.0000,393.8,METERS,WBAN:94998,41.70000,-94.91667,2018-11-23,2005-01-01,"AUDUBON MUNICIPAL AIRPORT, IA US"
132124,1.0000,367.0,METERS,WBAN:94999,46.54750,-93.67667,2018-11-23,2005-01-01,"AITKIN MUNICIPAL AIRPORT, MN US"
132125,0.2600,426.7,METERS,WBAN:96401,62.82639,-149.90667,2018-11-22,2005-06-15,"CHULITNA RIVER LODGE, AK US"
132126,0.1800,167.6,METERS,WBAN:96402,61.71380,-148.90880,2011-11-02,2005-06-21,"SUTTON 1 W, AK US"
132127,1.0000,609.6,METERS,WBAN:96404,62.73700,-141.20830,2018-11-10,2011-09-24,"TOK 70 SE, AK US"
132128,1.0000,25.3,METERS,WBAN:96405,60.47310,-145.35420,2018-11-22,2017-07-27,"CORDOVA 14 ESE, AK US"
132129,1.0000,78.9,METERS,WBAN:96406,64.50150,-154.12970,2018-11-22,2014-08-28,"RUBY 44 ESE, AK US"
132130,1.0000,6.7,METERS,WBAN:96407,66.56200,-159.00360,2018-11-22,2015-08-13,"SELAWIK 28 E, AK US"
132131,1.0000,678.2,METERS,WBAN:96408,63.45200,-150.87470,2018-11-22,2015-08-19,"DENALI 27 N, AK US"
132132,1.0000,750.1,METERS,WBAN:96409,68.64830,-149.39860,2018-11-22,2017-08-22,"TOOLIK LAKE 5 ENE, AK US"

# Store all the weather data
Iterate over all the desired date and store the data to corresponding subdirectory

In [9]:
occ = set()

In [ ]:
for year in range(2006, 2018):
    for month in range(1, 13):
        for idx in range(len(county)):
            locationid, county_name = county['id'][idx], county['name'][idx]
            if not os.path.exists(county_name):
                os.mkdir(county_name)
            data = []
            offset, total = 0, 2000
            while offset < total:
                if (year, month, locationid) in occ:
                    break
                token = 'GdNVaWoznDYioKmVaVCoCmolmXNvQqoI'
                url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data"
                url += '?datasetid=GHCND&startdate={0:}-{1:02}-01&enddate={0:}-{1:02}-{2}'.format(year, month, 30 if month in [2,4,6,9,11] else 31)
                url += '&locationid={}&limit=1000&offset={}'.format(locationid, offset)
                response = requests.get(url, headers={'token':token})

                query = eval(response.content.decode('utf-8'))
                if not query:
                    break
                total = query['metadata']['resultset']['count']
                data += query['results']

                offset += 1000
            pd.DataFrame(data).to_csv('{}/{}-{}.csv'.format(county_name, year, month))
            occ.add((year, month, locationid))